.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Container */
.header {
  background-color: #09090A;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.container {
  display: flex;
  justify-content: space-between;
/*  align-items: center;*/
  width: 100%;
  max-width: 1200px;
}

/* Logo */
.logo img {
  height: 130px;
}

/* Navigation */
.nav {
  padding-top: 2%;
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

.nav-item .nav-link {
  text-decoration: none;
  color: #5B2B64; /* Navigation Link Color */
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  color: #A83369; /* Active/Hover Link Color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-list {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .logo img {
    height: 35px;
  }
}
/*Header Style Ended*/

/* Home Container */
.home-container {
  display: flex;
  background-color: #09090A; /* Background Color */
  color: white;
  padding: 2% 7%;
  padding-bottom: 7%;
  justify-content: space-between;
  align-items: center;
}

/* Content Section */
.content {
  max-width: 50%; /* Adjust width as needed */
}

/* Header Text with Gradient */
.gradient-text {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.highlight {
  font-weight: 900;
  background: linear-gradient(90deg, #5B2B64, #A83369);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Description Paragraph */
.description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 3rem;
  color: whitesmoke; /* Lighter text color #5D94BD */
}

/* Button Group */
.button-group {
  display: flex;
  gap: 2rem;
}

/* Gradient Buttons */
.gradient-button {
  padding: 1rem 1.7rem;
  font-size: 1rem;
  font-weight: 400;
  border: 1px inset;
  border-radius: 13px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  text-transform: uppercase;
}

.verify-button, .issue-button {
  background: transparent;
}

.gradient-button:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #A83369, #5B2B64);
}

/* Image Placeholder */
.image-placeholder {
  width: 40%; /* Adjust width as needed */
  height: 470px; /* Adjust height as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .image-placeholder {
    width: 100%;
    height: 200px;
  }
}

/*Why Blockchain Container*/
.why-blockchain {
  background-color: #09090A;
  padding: 5% 7%;
  color: white;
}

.header-center {
  text-align: center;
  font-size: 3.5rem;
}

.cards {
  padding: 5% 3%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.card {
  border: 1px inset;
  border-radius: 15px;
  padding: 2%;
  width: 300px;
  text-align: center;
  line-height: 1.5;
}

.why-blockchain .card {
/*  background: linear-gradient(90deg, #0c8ce9, #7cc4f8);*/
/*  background-color: #7cc4f8;*/
}

.card img {
  width: 100%;
}

.how-it-works {
  background-color: #09090A;
  padding: 5% 7%;
  color: white;
}

.how-it-works .card {
  width: 250px;
}

.why-eth {
  background-color: #09090A;
  padding: 1% 10%;
  color: white;
}

.why {
  padding: 5%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.why img {
  width: 70%;
  text-align: center;
}

.why .content {
  padding: 2%;
  font-size: 1.3rem;
  width: 100%;
}

.why h2 {
  padding: 4% 0;
}

/*Home Style Ended*/

/* Footer Style */
.footer {
  background-color: #0F0F2F;
  padding: 1% 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}

.copywrite {
  padding: 2% 6%;
  width: 40%;
}

.copywrite hr {
  margin: 6% 0;
}

.copywrite p {
  padding: 0 10%;
}

.bottom-nav {
  padding: 2% 3%;
}

.bottom-nav-list {
  list-style: none;
}

