.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Container */
.header {
  background-color: #09090A;
  padding: 1.8rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.8;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Logo */
.logo img {
  height: 40px;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

.nav-item .nav-link {
  text-decoration: none;
  color: #5B2B64; /* Navigation Link Color */
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  color: #A83369; /* Active/Hover Link Color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-list {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .logo img {
    height: 35px;
  }
}
/*Header Style Ended*/

/* Home Container */
.home-container {
  display: flex;
  background-color: #09090A; /* Background Color */
  color: white;
  padding: 5% 7%;
  padding-bottom: 7%;
  justify-content: space-between;
  align-items: center;
}

/* Content Section */
.content {
  max-width: 50%; /* Adjust width as needed */
}

/* Header Text with Gradient */
.gradient-text {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.highlight {
  font-weight: 900;
  background: linear-gradient(90deg, #5B2B64, #A83369);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Description Paragraph */
.description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 3rem;
  color: whitesmoke; /* Lighter text color #5D94BD */
}

/* Button Group */
.button-group {
  display: flex;
  gap: 2rem;
}

/* Gradient Buttons */
.gradient-button {
  padding: 1rem 1.7rem;
  font-size: 1rem;
  font-weight: 400;
  border: 1px inset;
  border-radius: 13px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  text-transform: uppercase;
}

.verify-button, .issue-button {
  background: transparent;
}

.gradient-button:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #A83369, #5B2B64);
}

/* Image Placeholder */
.image-placeholder {
  width: 40%; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  background-image: url('./assets/image.png') no-repeat center center/cover; /*Replace with your image */
  border-radius: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .image-placeholder {
    width: 100%;
    height: 200px;
  }
}

/*Why Blockchain Container*/
.why-blockchain {
  background-color: #09090A;
  padding: 5% 7%;
  color: white;
}

.header-center {
  text-align: center;
  font-size: 3.5rem;
}

/* Base Card Styles */
.cards {
  padding: 5% 3%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.card {
  width: 250px;
  padding: 16px 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(117, 116, 116, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

/* Styles for Hover Effect Cards */
.hover-card {
  position: relative;
  overflow: hidden;
  padding:10px 5px;
  width: 250px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

.card-img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-card:hover .card-img {
  opacity: 0;
}

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 10px 5px;
}

.hover-card:hover .hover-content {
  opacity: 1;
}


.how-it-works {
  background-color: #09090A;
  padding: 5% 7%;
  color: white;
}

.how-it-works .card {
  width: 250px;
}


.why-us {
  background-color: #09090A;
  padding: 5% 7%;
  color: white;
}

.section-one {
  padding: 5% 3%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.text-area{
  width: 50%;
  text-align: left;
}

.image-area {
  width:300px;
  height:300px;
  align-content: right;
}
.section-two {
  padding: 5% 3%;
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.section-three {
  padding: 5% 3%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}



.gradient-container {
  position: relative;
  width: 100vw;
  height: 500px;
  background-color: black; /* Base background */
  overflow: hidden;
}

.gradient1 {
  position: absolute;
  width: 45%; 
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(90deg , #a83369 ,#033157);
  filter: blur(100px);
  top: -50px;
  left: -50px;
  opacity: 60%;
}


.gradient2 {
  position: absolute;
  width: 45%; 
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(90deg ,#033157, #a83369);
  filter: blur(100px);
  bottom: -50px;
  right: -50px;
  opacity: 60%;
}


.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  text-align: center;
}

.cta-content {
  display: flex;
  flex-direction: column; /* Stacks the button and link vertically */
  align-items: center;    /* Centers the button and link horizontally */
  padding: 20px;
}

.cta-text {
  font-size: 2rem;
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
}

.cta-button {
  padding: 15px 30px;
  background:linear-gradient(45deg, #033157, #A83369, #5B2B64);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.cta-button:hover {
  opacity: 85%;
}

.cta-link {
  color: #00baff;
  text-decoration: none;
  font-size: 1rem;
}

.cta-link:hover {
  text-decoration: underline;
}


/*Home Style Ended*/